<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <!-- Web Fonts -->
            <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>

            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- Flaticon CSS -->
            <link href="{{ asset('fonts/flaticon/flaticon.css') }}" rel="stylesheet">

            <!-- font-awesome CSS -->
            <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">

            <!-- Offcanvas CSS -->
            <link href="{{ asset('css/hippo-off-canvas.css') }}" rel="stylesheet">

            <!-- animate CSS -->
            <link href="{{ asset('css/animate.css') }}" rel="stylesheet">

            <!-- language CSS -->
            <link href="{{ asset('css/language-select.css') }}" rel="stylesheet">

            <!-- owl.carousel CSS -->
            <link href="{{ asset('owl.carousel/assets/owl.carousel.css') }}" rel="stylesheet">

            <!-- magnific-popup -->
            <link href="{{ asset('css/magnific-popup.css') }}" rel="stylesheet">

            <!-- Main menu -->
            <link href="{{ asset('css/menu.css') }}" rel="stylesheet">

            <!-- Template Common Styles -->
            <link href="{{ asset('css/template.css') }}" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">

            <!-- Responsive CSS -->
            <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">

            <!-- Javascript -->
            <script src="{{ asset('js/vendor/modernizr-2.8.1.min.js') }}"></script>

        {% endblock %}
        <link rel="shortcut icon" type="image/png" href="{{ asset('img/favicon.png') }}"/>

    </head>

    <body id="page-top">
        <div id="st-container" class="st-container">
            <div class="st-pusher">
                <div class="st-content">
                    <header class="header">
                        <div id="search">
                            <button type="button" class="close">×</button>
                            <form>
                                <input type="search" value="" placeholder="type keyword(s) here" />
                                <button type="submit" class="btn btn-primary">Search</button>
                            </form>
                        </div>

                        <nav class="navbar navbar-default" role="navigation">

                            <div class="container mainnav">
                                <div class="navbar-header">
                                    <h1 class="logo"><a class="navbar-brand" href="/"><img src="{{ asset('img/logo.png') }}" alt=""></a></h1>

                                    <!-- offcanvas-trigger -->
                                    <button type="button" class="navbar-toggle collapsed pull-right" >
                                        <span class="sr-only">Toggle navigation</span>
                                        <i class="fa fa-bars"></i>
                                    </button>

                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse navbar-collapse">

                                    <span class="search-button pull-right"><a href="#search"><i class="fa fa-search"></i></a></span>

                                    <ul class="nav navbar-nav navbar-right">
                                        <!-- Home -->
                                        <li><a href="/"><b>HOME</b></a></li>
                                        <!-- /Home -->

                                        <!-- Pages -->
                                        <li class="dropdown"><a href="/about"><b>ABOUT US</b> <span class="fa fa-angle-down"></span></a>
                                            <!-- submenu-wrapper -->
                                            <div class="submenu-wrapper">
                                                <div class="submenu-inner">
                                                    <ul class="dropdown-menu">
                                                        <li><a href="/about">Our Mission</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- /submenu-wrapper -->
                                        </li>
                                        <!-- /Pages -->

                                        <!-- Services -->
                                        <li class="dropdown"><a href="#"><b>TOOLS</b><span class="fa fa-angle-down"></span></a>
                                            <!-- submenu-wrapper -->
                                            <div class="submenu-wrapper">
                                                <div class="submenu-inner">
                                                    <ul class="dropdown-menu">

                                                        <li><a href="/track-request">Order Tracking</a></li>
                                                        <li><a href="#">Open a Ticket</a></li>
                                                        <li><a href="/quote">Get A Quotation</a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <!-- /submenu-wrapper -->
                                        </li>
                                        <!-- MEGA MENU -->
                                        <li class="dropdown mega-fw has-megamenu"><a href="/service" data-toggle="dropdown" class="dropdown-toggle"><b>KEY PRODUCTS</b><span class="fa fa-angle-down"></span></a>
                                            <!-- megamenu-wrapper -->
                                            <div class="submenu-wrapper megamenu-wrapper">
                                                <div class="submenu-inner megamenu-inner">

                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <div class="mega-content">
                                                                <div class="row">
                                                                    <div class="col-sm-6 mega-col">
                                                                        <ul>
                                                                            <li class="dropdown-header"></li>
                                                                            <li><a href="/ior-eor-services">IOR/EOR Services</a></li>
                                                                            <li><a href="/ocean-freight">Ocean Freight</a></li>
                                                                            <li><a href="/air-freight">Air Freight</a></li>
                                                                            <li><a href="/sea-air-service">Sea-Air Service</a></li>
                                                                            <li><a href="/dinlanka-cargo-insurance">Cargo Insurance</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-sm-6 mega-col">
                                                                        <ul>

                                                                            <li class="dropdown-header"></li>
                                                                            <li><a href="/new-shipping-containers-for-sale">New &amp; Used Containers</a></li>
                                                                            <li><a href="/supply-chain-manegment">Supply Chain Management</a></li>
                                                                            <li><a href="/entrepot-trade">Entrepot Trade</a></li>
                                                                            <li><a href="/freezer-transportation-solutions">Freezer Transportation & Solutions</a></li>
                                                                        </ul>
                                                                    </div>

                                                                </div><!-- /.row -->
                                                            </div><!-- /.mega-content -->
                                                        </li>
                                                    </ul><!-- /.dropdown menu -->
                                                </div><!-- /.megamenu-inner -->
                                            </div> <!-- /.megamenu-wrapper -->
                                        </li> <!-- /MEGA MENU -->
                                        <!-- /Pages -->
                                        <!-- Blog -->
                                        <li class="dropdown"><a href="#"><b>UPB CARGO</b></a>
                                        </li>
                                        <li><a href="/contact"><b>CONTACT US</b></a></li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container -->
                        </nav>
                    </header>

                    {% block body %}{% endblock %}

                    <!-- footer-widget-section start -->
                    <section class="footer-widget-section section-padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 col-md-offset-1 col-sm-4">
                                    <div class="footer-widget">
                                        <h3>Contact Us</h3>

                                        <address>
                                            DinLanka Logistics (Pvt) Ltd,<br>
                                            320/7 -1/2 , Galle Road,<br>
                                            Colombo 03,<br>
                                            Sri Lanka.<br>

                                            <!-- Google Map Modal Trigger -->
                                            <button type="button" class="modal-map" data-toggle="modal" data-target="#cssMapModal">Location  Map</button>

                                            <span class="tel">Telephone: +94 112 370909-10<br>
                                                                            Fax: +94 112 370911</span>
                                            <span class="tel">Contact Person: Dinraj Fernando – (Director/CEO)<br>
                                                                            Mobile: +94777 224704<br>
                                                                            E-mail: dinraj.fernando@dinlanka.com</span>
                                        </address>


                                        <!-- Modal -->
                                        <div class="modal fade" id="cssMapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Our Location</h4>
                                                    </div>
                                                    <div class="modal-body">

                                                        <div id="googleMap"></div>

                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- End Modal -->
                                    </div><!-- /.footer-widget -->
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-5 col-sm-5">
                                    <div class="footer-widget">
                                        <h3>Stay in Touch</h3>
                                        <p>Enter your email address to receive news &amp; offers from us</p>

                                        <form class="newsletter-form">
                                            <div class="form-group">
                                                <label class="sr-only" for="InputEmail1">Email address</label>
                                                <input type="email" class="form-control" id="InputEmail1" placeholder="Your email address">
                                                <button type="submit" class="">Send &nbsp;<i class="fa fa-angle-right"></i></button>
                                            </div>
                                        </form>
                                    </div><!-- /.footer-widget -->
                                </div><!-- /.col-md-4 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section><!-- /.cta-section -->
                    <!-- footer-widget-section end -->

                    <!-- copyright-section start -->
                    <footer class="copyright-section">
                        <div class="container text-center">
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="#">Privacy &amp; Cookies</a></li>
                                    <li><a href="#">Terms &amp; Conditions</a></li>
                                    <li><a href="#">Accessibility</a></li>
                                </ul>
                            </div>

                            <div class="copyright-info">
                                <span>Copyright © 2018 DinLanka pvt Ltd. All Rights Reserved. Designed by <a href="#">DinLanka</a><br> Proudly powered by <a href="#">HTML5</a> and <a href="#">Bootstrap3</a></span>
                            </div>
                        </div><!-- /.container -->
                    </footer>
                    <!-- copyright-section end -->
                    </div> <!-- .st-content -->
                    </div> <!-- .st-pusher -->

                    <!-- OFF CANVAS MENU -->
                    <div class="offcanvas-menu offcanvas-effect">
                        <div class="offcanvas-wrap">
                            <div class="off-canvas-header">
                                <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas" id="off-canvas-close-btn">&times;</button>
                            </div>
                            <ul id ="offcanvasMenu" class="list-unstyled visible-xs visible-sm">
                                <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                                <li>
                                    <a href="#">Pages</a>
                                    <ul>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/service">Service</a></li>
                                        <li><a href="#">Our people</a></li>
                                        <li><a href="#">Career</a></li>
                                        <li><a href="#">FAQ Page</a></li>
                                    </ul>

                                </li>
                                <li>
                                    <a href="#">Services</a>
                                    <ul>
                                        <li><a href="/ior-eor-services">IOR/EOR Services</a></li>
                                        <li><a href="/ocean-freight">Ocean Freight</a></li>
                                        <li><a href="/air-freight">Air Freight</a></li>
                                        <li><a href="/sea-air-service">Sea-Air Service</a></li>
                                        <li><a href="/dinlanka-cargo-insurance">Cargo Insurance</a></li>
                                        <li><a href="/new-shipping-containers-for-sale">New &amp; Used Containers</a></li>
                                        <li><a href="/supply-chain-manegment">Supply Chain Management</a></li></ul></li>
                                <li><a href="#">Blog</a><ul>
                                        <li><a href="#">Standard blog</a></li>
                                        <li><a href="#">Single blog</a></li> </ul></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="#">Typography</a></li>
                            </ul>
                            <div class="offcanvas-widgets hidden-sm hidden-xs">
                                <div id="twitterWidget">
                                    <h2>Tweeter feed</h2>
                                    <div class="twitter-widget"></div>
                                </div>
                                <div class="newsletter-widget">
                                    <h2>Stay in Touch</h2>
                                    <p>Enter your email address to receive news &amp; offers from us</p>

                                    <form class="newsletter-form">
                                        <div class="form-group">
                                            <label class="sr-only" for="InputEmail1">Email address</label>
                                            <input type="email" class="form-control" id="InputEmail2" placeholder="Your email address">
                                            <button type="submit" class="btn">Send &nbsp;<i class="fa fa-angle-right"></i></button>
                                        </div>
                                    </form>

                                </div><!-- newsletter-widget -->
                            </div>
                        </div>
                    </div><!-- .offcanvas-menu -->
                    </div><!-- /st-container -->



                    <!-- Preloader -->
                    <div id="preloader">
                        <div id="status">
                            <div class="status-mes"></div>
                        </div>
                    </div>

        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('js/jquery.js') }}"></script>
            <!-- Bootstrap Core JavaScript -->
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <!-- owl.carousel -->
            <script src="{{ asset('owl.carousel/owl.carousel.min.js') }}"></script>
            <!-- Magnific-popup -->
            <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
            <!-- Offcanvas Menu -->
            <script src="{{ asset('js/hippo-offcanvas.js') }}"></script>
            <!-- inview -->
            <script src="{{ asset('js/jquery.inview.min.js') }}"></script>
            <!-- stellar -->
            <script src="{{ asset('js/jquery.stellar.js') }}"></script>
            <!-- countTo -->
            <script src="{{ asset('js/jquery.countTo.js') }}"></script>
            <!-- classie -->
            <script src="{{ asset('js/classie.js') }}"></script>
            <!-- selectFx -->
            <script src="{{ asset('js/selectFx.js') }}"></script>
            <!-- sticky kit -->
            <script src="{{ asset('js/jquery.sticky-kit.min.js') }}"></script>
            <!--TWITTER FETCHER-->
            <script src="{{ asset('js/twitterFetcher_min.js') }}"></script>
            <!-- Custom Script -->
            <script src="{{ asset('js/scripts.js') }}"></script>
        {% endblock %}
    </body>
</html>
