{% extends 'base.html.twig' %}

{% block title %}Contact Us | www.dinlanka.com | Service Beyond Borders {% endblock %}

{% block body %}
    <section class="contact-info-section">
        <div class="container">
            <div class="text-center">
                <h2 class="section-title">Get in Touch</h2>
            </div>

            <div class="row content-row">

                <div class="col-md-7">
                    <div class="contact-map">
                        <h3>Contact Form</h3>

                        {{ form_start(form) }}
 
                            <div class="form-group">

                                {{ form_label(form.Name) }}
                                {{ form_errors(form.Name) }}
                                {{ form_widget(form.Name) }} 
                               
                            </div>

                            <div class="form-group">


                                {{ form_label(form.Email_address) }}
                                {{ form_errors(form.Email_address) }}
                                {{ form_widget(form.Email_address) }}                            

                                 
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                {{ form_label(form.Subject) }}
                                {{ form_errors(form.Subject) }}
                                {{ form_widget(form.Subject) }}                                     

                                      
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">

                                {{ form_label(form.Phone_Number) }}
                                {{ form_errors(form.Phone_Number) }}
                                {{ form_widget(form.Phone_Number) }}                                      

                                       
                                    </div>
                                </div>    
                            </div>

                            <div class="form-group text-area">

                                {{ form_label(form.Your_Message) }}
                                {{ form_errors(form.Your_Message) }}
                                {{ form_widget(form.Your_Message) }}                              

                            </div>

                            <button type="submit" class="btn btn-primary">Send Message</button>

                        {{ form_end(form) }}
                        
                    </div>
                </div>
                        

<!--                        <form id="mainContact" action="sendemail.php" method="POST">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input name="name" type="text" class="form-control" required="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input name="email" type="email" class="form-control" required="" placeholder="">
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="subject">Subject</label>
                                        <input name="subject" type="text" class="form-control" required="" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone">Phone Number</label>
                                        <input name="phone" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-area">
                                <label for="message">Your Message</label>
                                <textarea name="message" class="form-control" rows="6" required="" placeholder=""></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </form>
                    </div>
                </div>
-->
                <div class="col-md-5">
                    <div class="contact-info">

                        <address>
                            DinLanka Logistics (Pvt) Ltd,<br>
                            320/7 -1/2 , Galle Road,<br>
                            Colombo 03,<br>
                            Sri Lanka.<br>
                        </address>
                    </div>
                    <!-- /.contact-info -->

                    <div class="contact-map">
                        <h3>Location Map</h3>

                        <div id="contactMap"></div>
                    </div>
                    <!-- /.contact-info -->


                </div>
            </div>
        </div>
    </section>


    <!-- cta start -->
    <section class="cta-section">
        <div class="container text-center">
            <a data-toggle="modal" href="/quote" class="btn btn-primary quote-btn">Get a Quote</a>
{#
            <!-- Modal -->
            <div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="quoteModalLabel">Request a Quote.</h4>
                        </div>
                        <div class="modal-body">
                            <form id="contactForm" action="sendemail.php" method="POST">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input id="name" name="name" type="text" class="form-control"  required="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="company">Company Name</label>
                                            <input id="company" name="company" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="phone">Contact Number</label>
                                            <input id="phone" name="phone" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email address</label>
                                            <input id="email" name="email" type="email" class="form-control" required="" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="city">Origin</label>
                                            <input id="city" name="city" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="subject">Mode of Transport</label>
                                            <input id="subject" name="subject" type="text" class="form-control" required="" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container -->
#}        
    </section><!-- /.cta-section -->
    <!-- cta end -->           

{% endblock %}
