<h3>Requesting a quotation</h3>

<p>Name:{{name}}</p>
<p>Company Name:{{company}}</p>
<p>Email:{{email}} </p>
<p>Telephone Number:{{contact}}</p>
<p>Origin:{{origin}}</p>
<p>Transportation Mode:{{TraspotationMode}}</p>