{% extends 'base.html.twig' %}

{% block title %}Your Shipment | www.dinlanka.com | Service Beyond Borders {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;  /* The height is 400 pixels */
            width: 100%;  /* The width is the width of the web page */
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
{% endblock %}

{% block body %}

    <section class="page-title-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header-wrap">
                        <div class="page-header">
                            <h1>DinLanka Logistics Order Tracking</h1>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Shipment Location</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--The div element for the map -->
    <div id="map"></div>

    <div>
        <h4>Your cargo was last located at {{ current_loc }}</h4>
    </div>

    <div>
        <table>
            <tr>
                <th>Date</th>
                <th>Location</th>
                <th>Status</th>
            </tr>

            {% for data in history_data  %}
                <tr>
                    <td>{{ (((((data | split(','))[0] | split('['))[1]) | split(': '))[1] ) }}</td>
                    <td>{{ (((data | split(','))[1]) | split(': '))[1]  }}</td>
                    <td>{{ ((((data | split(','))[2]) | split(': '))[1]) | split(']')[0] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <hr>

    <script>
        // Initialize and add the map
        function initMap() {
            // The location of shipment
            var loc = {lat: {{ latlong.lat }}, lng: {{ latlong.long }} };
            // The map, centered at shipment location
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 4, center: loc});
            // The marker, positioned at shipment location
            var marker = new google.maps.Marker({position: loc, map: map});
        }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCltWRQRrRFBsRh9WUQ53KVbj3Nm6xc6s&callback=initMap">
    </script>

{% endblock %}
